
.icon-th-list:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-ok-circled:before { content: '\e802'; } /* '' */
.icon-users:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-plus-circled:before { content: '\e805'; } /* '' */
.icon-cancel-circled:before { content: '\e806'; } /* '' */
.icon-info-circled:before { content: '\e807'; } /* '' */
.icon-home:before { content: '\e808'; } /* '' */
.icon-print:before { content: '\e809'; } /* '' */
.icon-comment:before { content: '\e80a'; } /* '' */
.icon-attention:before { content: '\e80b'; } /* '' */
.icon-folder-open:before { content: '\e80c'; } /* '' */
.icon-basket:before { content: '\e80d'; } /* '' */
.icon-cog-alt:before { content: '\e80e'; } /* '' */
.icon-phone:before { content: '\e80f'; } /* '' */
.icon-down-dir:before { content: '\e810'; } /* '' */
.icon-down-big:before { content: '\e811'; } /* '' */
.icon-left-big:before { content: '\e812'; } /* '' */
.icon-right-big:before { content: '\e813'; } /* '' */
.icon-up-big:before { content: '\e814'; } /* '' */
.icon-play:before { content: '\e815'; } /* '' */
.icon-arrows-cw:before { content: '\e816'; } /* '' */
.icon-scissors:before { content: '\e817'; } /* '' */
.icon-chart-bar:before { content: '\e818'; } /* '' */
.icon-user-add:before { content: '\e819'; } /* '' */
.icon-user-1:before { content: '\e81a'; } /* '' */
.icon-home-1:before { content: '\e81b'; } /* '' */
.icon-list:before { content: '\e81c'; } /* '' */
.icon-floppy:before { content: '\e81d'; } /* '' */
.icon-clipboard:before { content: '\e81e'; } /* '' */
.icon-th-list-1:before { content: '\e81f'; } /* '' */
.icon-plus:before { content: '\e820'; } /* '' */
.icon-minus:before { content: '\e821'; } /* '' */
.icon-snow:before { content: '\e822'; } /* '' */
.icon-sun:before { content: '\e823'; } /* '' */
.icon-temperatire:before { content: '\e824'; } /* '' */
.icon-pencil:before { content: '\e825'; } /* '' */
.icon-at:before { content: '\e826'; } /* '' */
.icon-bar:before { content: '\e827'; } /* '' */
.icon-fire-station:before { content: '\e828'; } /* '' */
.icon-fast-food:before { content: '\e829'; } /* '' */
.icon-edit:before { content: '\e82a'; } /* '' */
.icon-pencil-1:before { content: '\e82b'; } /* '' */
.icon-trash-2:before { content: '\e83d'; } /* '' */
.icon-mic-off:before { content: '\f047'; } /* '' */
.icon-mic:before { content: '\f048'; } /* '' */
.icon-trash-1:before { content: '\f083'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-link-ext-alt:before { content: '\f14c'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-female:before { content: '\f182'; } /* '' */
.icon-male:before { content: '\f183'; } /* '' */
.icon-building-filled:before { content: '\f1ad'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-calc:before { content: '\f1ec'; } /* '' */
.icon-cc-visa:before { content: '\f1f0'; } /* '' */
.icon-cc-mastercard:before { content: '\f1f1'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-cart-plus:before { content: '\f217'; } /* '' */
.icon-bed:before { content: '\f236'; } /* '' */
.icon-sticky-note-o:before { content: '\f24a'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */
.icon-address-card:before { content: '\f2bb'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
