.main-container{
    width: 100%;
    position: absolute;
    justify-content: center;
    display: inline-flex;  
}
.main-container .formularioprove{
    border: solid 1px #504c72;
    border-radius: 5px;
    width: 200px;
    padding: 10px;
    text-align: center;
    margin: 16px;
}

.formularioprove h2{
    color: #504c72;
    margin: 5px; 
    border-bottom: 1px solid silver;
}
.textosprove{
    position:static;
    width: 90%;
    border-bottom: 2px solid #adadad;
    margin: 15px 15px;
}
.textosprove input{
    width: 100%;
    padding: 0 3px;
    height: 20px;
    font-size: 12px;
    border: none;
    background: none;
    outline: none;
}

.botoningreso{
    background: #504c72;
    border-radius: 5px;
    color: #fff;
    width: 90%;
    height: 30px;
    border: none;
}
.botoningreso:hover{
    background: #006a4a;
    color: white; 
    border: solid 1px #504c72;
}